body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: #165786;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #165786;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    color: #165786;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #165786;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1a446c;
}

button {
    background-color: #165786;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #1a446c;
}

#goback{
    display: block;
    margin: auto;
}
/* CSS for the footer */
footer {
    background-color: #165786;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    margin-right: 20px; /* Add some spacing between the logo and the navigation links */
}

.logo img {
    max-width: 200px; /* Set the maximum width of the logo */
    border-radius: 10px; /* Add a border-radius for soft edges */
}


* {
    padding: 0;
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Make sure it is behind other elements */
    overflow: hidden; /* Prevent overflow */
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    
}

header, footer {
    z-index: 1; /* Ensure header and footer are above the SVG */
}

h2, form {
    z-index: 1; /* Ensure form content is above the SVG */
}