/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

ul {
    background-color: #165786;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    text-align: center;
}

button {
    background-color: #165786;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #1a446c;
}

footer {
    background-color: #165786;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
