body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, nav, footer {
    width: 100%;
    background-color: #165786;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

footer {
    background-color: #165786;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    margin-right: 20px; /* Add some spacing between the logo and the navigation links */
}

.logo img {
    max-width: 200px; /* Set the maximum width of the logo */
    border-radius: 10px; /* Add a border-radius for soft edges */
}

